In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Diabetes Classification.csv')

In [3]:
df

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
0,45,Male,25,Normal,100,5.7,No,No,Healthy,Regular,No
1,55,Female,30,High,120,6.4,Yes,Yes,Poor,No,Yes
2,65,Male,35,High,140,7.1,Yes,Yes,Poor,No,Yes
3,75,Female,40,High,160,7.8,Yes,Yes,Poor,No,Yes
4,40,Male,20,Normal,80,5.0,No,No,Healthy,Regular,No
...,...,...,...,...,...,...,...,...,...,...,...
123,17,Female,15,Normal,100,5.7,No,Yes,Poor,No,Yes
124,22,Male,19,Normal,120,6.4,No,Yes,Poor,No,Yes
125,27,Female,24,High,140,7.1,No,Yes,Poor,No,Yes
126,32,Male,29,High,160,7.8,No,Yes,Poor,No,Yes
127,37,Female,34,High,180,8.5,No,Yes,Poor,No,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         128 non-null    int64
 1   Gender                      128 non-null    object
 2   BMI                         128 non-null    int64
 3   Blood Pressure              128 non-null    object
 4   FBS                         128 non-null    int64
 5   HbA1c                       128 non-null    float64
 6   Family History of Diabetes  128 non-null    object
 7   Smoking                     128 non-null    object
 8   Diet                        128 non-null    object
 9   Exercise                    128 non-null    object
 10  Diagnosis                   128 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.1+ KB

In [5]:
df.isnull().sum()

Age                           0
Gender                        0
BMI                           0
Blood Pressure                0
FBS                           0
HbA1c                         0
Family History of Diabetes    0
Smoking                       0
Diet                          0
Exercise                      0
Diagnosis                     0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.value_counts()

Age  Gender  BMI  Blood Pressure  FBS  HbA1c  Family History of Diabetes  Smoking  Diet     Exercise  Diagnosis
12   Male    10   Low             80   5.0    No                          No       Healthy  Regular   No           1
                                                                          Yes      Poor     No        Yes          1
55   Male    45   High            200  9.2    No                          No       Healthy  Regular   No           1
     Female  30   Normal          100  5.7    Yes                         Yes      Poor     No        No           1
                  High            120  6.4    Yes                         Yes      Poor     No        Yes          1
                                                                                                                  ..
30   Female  29   High            140  7.1    No                          Yes      Poor     No        Yes          1
                                                                          No       Healthy  Regular   No           1
             20   Normal          100  5.7    Yes                         Yes      Poor     No        No           1
                                              No                          Yes      Poor     No        Yes          1
75   Male    65   High            280  12.0   Yes                         Yes      Poor     No        No           1
Length: 128, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
le.fit_transform(df['Gender'])

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0])

In [9]:
cols=['Gender','Blood Pressure','Family History of Diabetes','Smoking','Diet','Exercise','Diagnosis']
for col in cols:
    df[col]=le.fit_transform(df[col])

In [10]:
df

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
0,45,1,25,2,100,5.7,0,0,0,1,0
1,55,0,30,0,120,6.4,1,1,1,0,1
2,65,1,35,0,140,7.1,1,1,1,0,1
3,75,0,40,0,160,7.8,1,1,1,0,1
4,40,1,20,2,80,5.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
123,17,0,15,2,100,5.7,0,1,1,0,1
124,22,1,19,2,120,6.4,0,1,1,0,1
125,27,0,24,0,140,7.1,0,1,1,0,1
126,32,1,29,0,160,7.8,0,1,1,0,1
127,37,0,34,0,180,8.5,0,1,1,0,1

In [11]:
X=df.iloc[:,:-1]
y=df['Diagnosis']

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_sc=sc.fit_transform(X)

In [16]:
column=df.columns
print(column)

Index(['Age', 'Gender', 'BMI', 'Blood Pressure', 'FBS', 'HbA1c',
       'Family History of Diabetes', 'Smoking', 'Diet', 'Exercise',
       'Diagnosis'],
      dtype='object')

In [18]:
X=pd.DataFrame(X_sc,columns=['Age','Gender','BMI','Blood Pressure','FBS','HbA1c','Family History of Diabetes','Smoking','Diet','Exercise'])

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=25)

In [20]:
X_train

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise
64,1.254245,-1.064581,1.785194,-0.757271,1.596164,1.596164,1.228741,0.787562,0.787562,-0.787562
27,-1.018724,0.939336,-1.364286,1.445700,-1.350600,-1.350600,1.228741,0.787562,0.787562,-0.787562
95,-1.317798,-1.064581,-1.096245,1.445700,-1.023182,-1.023182,-0.813841,0.787562,0.787562,-0.787562
82,1.373875,0.939336,1.919214,-0.757271,1.923582,1.923582,-0.813841,-1.269742,-1.269742,1.269742
7,1.672950,-1.064581,-0.024082,1.445700,-0.368345,-0.368345,-0.813841,-1.269742,-1.269742,1.269742
...,...,...,...,...,...,...,...,...,...,...
61,0.357021,0.939336,0.780041,-0.757271,0.613909,0.613909,1.228741,0.787562,0.787562,-0.787562
15,1.672950,-1.064581,-0.024082,1.445700,-0.368345,-0.368345,-0.813841,0.787562,0.787562,-0.787562
90,0.476651,-1.064581,0.914061,-0.757271,0.941327,0.941327,1.228741,0.787562,0.787562,-0.787562
62,0.656095,-1.064581,1.115092,-0.757271,0.941327,0.941327,1.228741,0.787562,0.787562,-0.787562
4,-0.121499,0.939336,-1.029235,1.445700,-1.350600,-1.350600,-0.813841,-1.269742,-1.269742,1.269742

In [21]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [22]:
classifier.score(X_test,y_test)

1.0

In [24]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
dfc=DecisionTreeClassifier()
dfc.fit(X_train,y_train)

DecisionTreeClassifier()

In [25]:
dfc.score(X_test,y_test)

0.9615384615384616

In [26]:
# SVM
from sklearn.svm import SVC
classifier_svm = SVC(kernel = 'linear', random_state = 0)
classifier_svm.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [27]:
classifier_svm.score(X_test,y_test)

1.0

In [28]:
# Naive Baiyes
from sklearn.naive_bayes import GaussianNB
classifier_nb = GaussianNB()
classifier_nb.fit(X_train, y_train)

GaussianNB()

In [29]:
classifier_nb.score(X_test,y_test)

0.6538461538461539

In [30]:
#random Forest
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier_rf.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [31]:
classifier_rf.score(X_test,y_test)

1.0